#RTCC
CONFIG_SWAP=y
CONFIG_ZRAM=y
CONFIG_ZRAM_DEBUG=y
CONFIG_ZRAM_FOR_ANDROID=y

#variant defconfig
CONFIG_MACH_MS01_CHN_CTC=y
# CONFIG_MACH_MS01 is not set

#VIBARTOR
CONFIG_QPNP_VIBRATOR=y
CONFIG_MSM_VIBRATOR=y

#LCD
CONFIG_FB_MSM_MDSS_SHARP_HD_PANEL=y
CONFIG_ESD_ERR_FG_RECOVERY=y
CONFIG_FB_MSM_MDSS=y
CONFIG_FB_MSM_MDSS_WRITEBACK=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_MDNIE_LITE_TUNING=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_LCD_CONNECTION_CHECK=y
# CONFIG_BACKLIGHT_GENERIC is not set

#TOUCH
CONFIG_TOUCHSCREEN_MMS152=y
CONFIG_TOUCHSCREEN_BCMTCH15XXX=y
CONFIG_TOUCHSCREEN_ZINITIX_BT531=y
CONFIG_KEYBOARD_CYPRESS_TOUCH=y

#USB
CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE=y
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
CONFIG_USB_DUN_SUPPORT=y
CONFIG_USB_HOST_NOTIFY=y

#MUIC
CONFIG_USB_SWITCH_TSU6721=y

#SENSORS
CONFIG_SENSORS_CORE=y
CONFIG_INPUT_YAS_SENSORS=n
CONFIG_YAS_ACC_MULTI_SUPPORT=n
CONFIG_INPUT_YAS_ACCELEROMETER=n
CONFIG_YAS_ACC_DRIVER_BMA250=n
CONFIG_SENSORS_HSCDTD008A=y
CONFIG_INPUT=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y
CONFIG_INPUT_MPU6500=n
CONFIG_INPUT_MPU6500_SELFTEST=n
CONFIG_INPUT_MPU6500_POLLING=n
CONFIG_BMA250_ACC_DRIVER=y
CONFIG_SENSORS_HALL=y


#CAMERA
CONFIG_S5K3H5XA=y
CONFIG_S5K4H5YA=y
CONFIG_S5K4H5YB=y
CONFIG_S5K6A3YX=y


#Battery
CONFIG_QPNP_SEC_CHARGER=y
CONFIG_BATTERY_BCL=y
CONFIG_QPNP_BMS=y

#configs for ppp
CONFIG_PPP_FILTER=y
CONFIG_PPP_MPPE=y
CONFIG_PPPOLAC=y
CONFIG_PPPOPNS=y

#WIFI
#no need

#BT
#no need

#NFC
CONFIG_BCM2079X_NFC_I2C=y

# Earjack
CONFIG_SAMSUNG_JACK=y
# QCOM DEBUG
CONFIG_MSM_RTB=y 
CONFIG_MSM_RTB_SEPARATE_CPUS=y 

# SAPA
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y

# DO NOT EXT OVP
CONFIG_NOT_USE_EXT_OVP=y