#variant defconfig
CONFIG_MACH_MS01_LTE=y
CONFIG_MACH_HLITE_CHN_SGLTE=y
CONFIG_MACH_HLITE_CHN_SGLTE_CTC=y

#Battery
#CONFIG_QPNP_SEC_CHARGER is not set
CONFIG_QPNP_BMS=y
CONFIG_BATTERY_BCL=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_SMB358=y

#Do not use external OVP
CONFIG_NOT_USE_EXT_OVP=y

#LCD
CONFIG_FB_MSM_MDSS_MAGNA_OCTA_720P_PANEL=y
CONFIG_ESD_ERR_FG_RECOVERY=y
CONFIG_FB_MSM_MDSS=y
CONFIG_FB_MSM_MDSS_WRITEBACK=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
#CONFIG_MDNIE_LITE_TUNING=y
CONFIG_MDNIE_VIDEO_ENHANCED=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_LCD_CONNECTION_CHECK=y
#CONFIG_BACKLIGHT_GENERIC is not set

#SvcLED
CONFIG_LEDS_AN30259A=y

#TOUCH
CONFIG_TOUCHSCREEN_MMS152=n
CONFIG_TOUCHSCREEN_BCMTCH15XXX=n
CONFIG_KEYBOARD_CYPRESS_TKEY_20055=y
CONFIG_TOUCHSCREEN_ZINITIX_BT531=n
CONFIG_TOUCHSCREEN_FTS=y
CONFIG_GLOVE_TOUCH=y
#CONFIG_INPUT_BOOSTER=y

#E-PEN
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_G9PM=y

#VIBARTOR
# CONFIG_QPNP_VIBRATOR is not set
# CONFIG_MSM_VIBRATOR is not set
#CONFIG_VIBETONZ is not set
CONFIG_MOTOR_DRV_DRV2603=y

#HallSensor
CONFIG_SENSORS_HALL=y

#USB
CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE=y
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
CONFIG_USB_HOST_NOTIFY=y
CONFIG_USB_DUN_SUPPORT=y
CONFIG_USB_STORAGE_DETECT=y
CONFIG_USB_PRINTER=y


#MUIC
CONFIG_USB_SWITCH_TSU6721=n
CONFIG_SM5502_MUIC=y

#SENSORS
CONFIG_INPUT=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y
#CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_INVENSENSE=y
CONFIG_SENSORS_TMD27723=y
CONFIG_SENSORS_AK09911C=y
#CONFIG_INPUT_MPU6500 is not set
CONFIG_INPUT_MPU6500_SELFTEST=y
#CONFIG_INPUT_MPU6500_POLLING is not set
# MPL start
CONFIG_SYSFS=y
CONFIG_STAGING=y
CONFIG_INV_MPU_IIO=y
CONFIG_IIO_SW_RING=y
CONFIG_IIO_ST_HWMON=y
CONFIG_IIO=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGER=y
CONFIG_IIO_BUFFER=y
# MPL end
#NFC
CONFIG_BCM2079X_NFC_I2C=y
CONFIG_NFC_PN544=n
CONFIG_SEC_NFC_I2C=n

#CAMERA
CONFIG_S5K3H5XA=y
CONFIG_S5K4H5YA=y
CONFIG_S5K4H5YB=y
CONFIG_S5K6A3YX=y
CONFIG_S5K6B2YX=y

#W1
CONFIG_W1=y
CONFIG_W1_MASTER_GPIO_MSM=y
CONFIG_W1_SLAVE_DS28EL15=y

#WIFI
#no need

#BT
#no need

# Earjack
CONFIG_SAMSUNG_JACK=y

# SAPA
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y
