#variant defconfig
CONFIG_MACH_S3VE=y
CONFIG_MACH_S3VE_CHN_CMCC=y

# CONFIG_MACH_MS01 is not set

#WLAN CHN
CONFIG_TARGET_LOCALE_CHN=y
CONFIG_WLAN_REGION_CODE=300

#VIBARTOR
CONFIG_QPNP_VIBRATOR=y
CONFIG_MSM_VIBRATOR=y

#LCD
CONFIG_FB_MSM_MDSS_S6E8AA0A_HD_PANEL=y
#CONFIG_ESD_ERR_FG_RECOVERYis not set
CONFIG_FB_MSM_MDSS=y
CONFIG_FB_MSM_MDSS_WRITEBACK=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
# CONFIG_MDNIE_LITE_TUNING is not set
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
# CONFIG_LCD_CONNECTION_CHECK is not set
# CONFIG_BACKLIGHT_GENERIC is not set

#SvcLED
CONFIG_LEDS_AN30259A=y

#TOUCH
CONFIG_TOUCHSCREEN_MMS152=n
CONFIG_TOUCHSCREEN_BCMTCH15XXX=n
CONFIG_TOUCHSCREEN_ZINITIX_BT531=n
CONFIG_KEYBOARD_CYPRESS_TOUCH=n
CONFIG_KEYBOARD_CYPRESS_TOUCH_236=y
CONFIG_TOUCHSCREEN_MMS144=y

#USB
CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE=y
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
CONFIG_USB_DUN_SUPPORT=y
CONFIG_USB_HOST_NOTIFY=y

#MUIC
CONFIG_USB_SWITCH_TSU6721=y

#SENSORS
CONFIG_SENSORS_CORE=y
CONFIG_INPUT_YAS_SENSORS=y
CONFIG_YAS_MAG_MULTI_SUPPORT=y
#CONFIG_INPUT_YAS_ACCELEROMETER is not set
CONFIG_INPUT_YAS_MAGNETOMETER=y
#CONFIG_YAS_ACC_DRIVER_BMA250 is not set
CONFIG_INPUT_YAS_MAGNETOMETER_POSITION=3
#CONFIG_SENSORS_HSCDTD008A is not set
CONFIG_SENSORS_CM36651=y
CONFIG_INPUT=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y
CONFIG_INPUT_MPU6500=y
CONFIG_INPUT_MPU6500_SELFTEST=y
CONFIG_INPUT_MPU6500_POLLING=y
#CONFIG_SENSORS_HALL is not set
CONFIG_YAS_MAG_DRIVER_YAS532=y
#CAMERA
CONFIG_S5K3H5XA=y
CONFIG_S5K4H5YA=y
CONFIG_S5K4H5YB=y
CONFIG_S5K6A3YX=y


#Battery
CONFIG_QPNP_SEC_CHARGER=y
CONFIG_BATTERY_BCL=y
CONFIG_QPNP_BMS=y

#WIFI
#no need

#BT
#no need

# Earjack
CONFIG_SAMSUNG_JACK=y
# QCOM DEBUG
CONFIG_MSM_RTB=y 
CONFIG_MSM_RTB_SEPARATE_CPUS=y 
