CONFIG_SWAP=y
CONFIG_ZRAM=y
CONFIG_ZRAM_DEBUG=y
CONFIG_ZRAM_FOR_ANDROID=y

#variant defconfig
CONFIG_MACH_VICTOR_CHN_SGLTE=y
# CONFIG_MACH_MS01_LTE is not set

#Battery
CONFIG_QPNP_SEC_CHARGER=y
CONFIG_QPNP_BMS=y
CONFIG_BATTERY_BCL=y

#LCD
CONFIG_FB_MSM_MDSS_HX8369B_WVGA_PANEL=y
#CONFIG_ESD_ERR_FG_RECOVERY is not set
CONFIG_FB_MSM_MDSS=y
CONFIG_FB_MSM_MDSS_WRITEBACK=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
#CONFIG_MDNIE_LITE_TUNING is not set
CONFIG_MDNIE_VIDEO_ENHANCED=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_IC_KTD253=y
#CONFIG_BACKLIGHT_GENERIC is not set
CONFIG_LCD_CONNECTION_CHECK=y

#TOUCH
CONFIG_TOUCHSCREEN_MMS136=y
CONFIG_TOUCHSCREEN_MMS144=n
CONFIG_TOUCHSCREEN_BCMTCH15XXX=n
CONFIG_KEYBOARD_CYPRESS_TOUCH=n
CONFIG_TOUCHSCREEN_ZINITIX_BT531=n
CONFIG_TOUCHSCREEN_ATMEL_MXTS=n
CONFIG_KEYBOARD_CYPRESS_TOUCH_20234=n

#Vibrator
CONFIG_MSM_VIBRATOR=y
CONFIG_QPNP_VIBRATOR=y

#HallSensor
CONFIG_SENSORS_HALL=n

#USB
CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE=y
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
CONFIG_USB_HOST_NOTIFY=y
CONFIG_USB_DUN_SUPPORT=y


#MUIC
# CONFIG_USB_SWITCH_TSU6721 is not set
CONFIG_USB_SWITCH_RT8973=y

#SENSORS
CONFIG_SENSORS_CORE=y
CONFIG_INPUT_YAS_SENSORS=n
CONFIG_YAS_ACC_MULTI_SUPPORT=n
CONFIG_INPUT_YAS_ACCELEROMETER=n
CONFIG_YAS_ACC_DRIVER_BMA250=n
CONFIG_INPUT_YAS_ACCELEROMETER_POSITION=1
# CONFIG_SENSORS_HSCDTD008A is not set
CONFIG_INPUT=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y
# CONFIG_INPUT_MPU6500 is not set
# CONFIG_INPUT_MPU6500_SELFTEST is not set
# CONFIG_INPUT_MPU6500_POLLING is not set
CONFIG_OPTICAL_TAOS=y
CONFIG_BMA250_ACC_DRIVER=y

#CAMERA
CONFIG_S5K3H5XA=y
CONFIG_S5K4H5YA=y
CONFIG_S5K4H5YB=y
CONFIG_S5K6A3YX=y
CONFIG_S5K4ECGX=y

#WIFI
#no need

#BT
#no need

# Earjack
CONFIG_SAMSUNG_JACK=y

# NFC
CONFIG_BCM2079X_NFC_I2C=y

# DO NOT EXT OVP
CONFIG_NOT_USE_EXT_OVP=y

# SAPA
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y

# CTS
# CONFIG_IKCONFIG_PROC is not set

#SEC OOM KILLER 
CONFIG_SEC_OOM_KILLER=y

# QDSS turned off
# CONFIG_CORESIGHT is not set
# CONFIG_CORESIGHT_FUSE is not set
# CONFIG_CORESIGHT_TMC is not set
# CONFIG_CORESIGHT_TPIU is not set
# CONFIG_CORESIGHT_FUNNEL is not set
# CONFIG_CORESIGHT_REPLICATOR is not set
# CONFIG_CORESIGHT_STM is not set
# CONFIG_CORESIGHT_HWEVENT is not set
# CONFIG_CORESIGHT_ETM is not set
# CONFIG_CORESIGHT_AUDIO_ETM is not set
# CONFIG_CORESIGHT_MODEM_ETM is not set
# CONFIG_CORESIGHT_WCN_ETM is not set
# CONFIG_CORESIGHT_RPM_ETM is not set
# CONFIG_CORESIGHT_EVENT is not set
# CONFIG_MDNIE_LITE_TUNING is not set

